version: "3.8"
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: shortener
    ports:
      - "3307:3306"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
