spring:
  datasource:
    url: jdbc:mysql://localhost:3307/shortener
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6379
